/*.step {
    display: none !important;
}
.step4 {
    display: block !important;
}*/

@font-face {
	font-family: 'Conv_NarkisBlock-Bold';
	src: url('fonts/NarkisBlock-Bold.eot');
	src: local('☺'), url('fonts/NarkisBlock-Bold.woff') format('woff'), url('fonts/NarkisBlock-Bold.ttf') format('truetype'), url('fonts/NarkisBlock-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_NarkisBlock-Medium';
	src: url('fonts/NarkisBlock-Medium.eot');
	src: local('☺'), url('fonts/NarkisBlock-Medium.woff') format('woff'), url('fonts/NarkisBlock-Medium.ttf') format('truetype'), url('fonts/NarkisBlock-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_NarkisBlockThin-Regular';
	src: url('fonts/NarkisBlockThin-Regular.eot');
	src: local('☺'), url('fonts/NarkisBlockThin-Regular.woff') format('woff'), url('fonts/NarkisBlockThin-Regular.ttf') format('truetype'), url('fonts/NarkisBlockThin-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
	margin: 0px;
	padding: 0px;
	font-family: 'Conv_NarkisBlockThin-Regular', arial;
	direction: rtl;
}

body {
	background: url(../img/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.starttext {
	font-size: 18px;
	font-family: 'Assistant';
}

.container {
    margin: auto;
    width: 800px;
    background-color: white;
    box-shadow: 1px 1px 5px black;
    margin: 50px auto;
}

.top-bg {
	background-color: #2c325a;
	width: 100%;
	height: 100px;
	text-align: center;
	color: white;
	line-height: 100px;
}

.banner {
	height: 20px;
	height: 230px;
	width: 100%;
	background: url(../img/banner.jpg) no-repeat; 
	background: url(../img/banner2.png) no-repeat; 
	background-size: cover;
}

.logo {
    height: 86px;
    display: inline-block;
    position: relative;
    float: right;
    padding-right: 20px;
    padding-top: 8px;
}

.title {
    font-size: 37px;
    display: inline-block;
    vertical-align: top;
    font-family: 'Conv_NarkisBlock-Bold';
    margin-right: -101px;
}

.progress-line {
	margin: 0px 42px;
    color: #949594;
    position: relative;
    margin-top: 70px;
}

.progress-line .circle {
	background-color: #949594;
	color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 25px;
    display: inline-block;
    margin: -6px;
    font-size: 21px;
}

.progress-line .line.colored {
	cursor: pointer;
}

.progress-line .line.colored .circle, .progress-line .line.colored .connector {
	background-color: #514f4f;
}

.progress-line .line.colored .img {
	color: #514f4f;
}

.progress-line .connector {
	background-color: #949594;
	width: 50px;
	height: 8px;
	display: inline-block;
}

.progress-line .img {
    padding-bottom: 15px;
    position: absolute;
    bottom: 18px;
}

.progress-line .line {
	display: inline-block;
}

.progress-line .line.colored .img.icon2 {
	background: url(../img/family-black.png) no-repeat;
	background-size: contain;
}

.progress-line .line.colored .img.icon8 {
	background: url(../img/script1-black.png) no-repeat;
	background-size: contain;
}

.progress-line .line.colored .img.icon9 {
	background: url(../img/script2-black.png) no-repeat;
	background-size: contain;
}

.img.icon1 {right: -2px;}
.img.icon2 {
	right: 61px;
	background: url(../img/family-grey.png) no-repeat;
	background-size: contain;
	width: 50px;
	height: 40px;
}
.img.icon3 {right: 145px;}
.img.icon4 {right: 215px;}
.img.icon5 {right: 298px;}
.img.icon6 {right: 371px;}
.img.icon7 {right: 448px;}
.img.icon8 {
	right: 523px;
	background: url(../img/script1-grey.png) no-repeat;
	background-size: contain;
	width: 30px;
	height: 32px;
}
.img.icon9 {
	right: 598px;
	background: url(../img/script2-grey.png) no-repeat;
	background-size: contain;
	width: 32px;
	height: 35px;
}
.img.icon10 {right: 675px;}

.content {
    padding: 25px 40px;
    font-size: 15px;
}

.content h2 {
	font-family: 'Conv_NarkisBlock-Medium';
	font-size: 25px;
	padding-top: 5px;
}

.buttons {
    padding-top: 30px;
    padding-bottom: 25px;
}

.buttons .button {
	background-color: #f5f5f5;
	font-weight: bold;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #676767;
	border-radius: 4px;
	font-family: 'Conv_NarkisBlock-Bold';
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
	                              not supported by any browser */
}

.buttons .button:hover {
	background-color: #a9d1eb;
}

.buttons .continue {
    float: left;
}

.buttons .back {
    float: right;
    display: none;
}

.content .step {
	display: none;
}

.content .step0 {
	display: block;
}

.input {
	margin-bottom: 20px;
}

input {
	vertical-align: middle;
}

.addRemovePlugin {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

.addRemovePlugin input {
	width: 120px;
}

.step5 .addRemovePlugin * {
	/*text-align: right;*/
}

.inline-block {
	display: inline-block;
	margin-left: 10px;
}

.tip {
	display: inline;
    font-size: 12px;
    font-style: italic;
    font-family: arial;
}

button {
	cursor: pointer;
}

.icon {
	width: 19px;
    vertical-align: middle;
}

input {
    height: 20px;
    padding: 2px 8px;
    outline: none;
}

.checkbox {
	vertical-align: middle;
	margin-right: 0;
}

.description {
	/*font-family: 'Conv_NarkisBlock-Medium';*/
    font-size: 17px;
    font-weight: bold;
}

.checkboxes {
	font-size: 16px;
}

select {
	height: 20px;
    font-size: 15px;
}

input.hide {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.box {
	padding: 5px;
    border: 1px solid grey;
}

.box table td {
	text-align: center;
}

.age {
	width: 15px;
}

.comments {
	width: 395px;
}

.plusRemoveIcon {
	width: 15px;
    position: relative;
    cursor: pointer;
}

.firstEnabled {
	margin-right: 30px;
}

.lastDisabled {
	margin-right: 13px;
}

.disabledTemplate {
	display: none;
}

.disabledTemplate2 {
	display: none;
}

.twoTextInputs {
	width: 100%;
    display: flex;
    padding-bottom: 10px;
}

.handicap {
	width: 246px;
    margin-left: 26px;
}

.serviceHandicap {
	width: 246px;
}

.innerBox2in2 {
	width: 100%;
	display: inline-flex;
}

.line2in2 {
	width: 140px;
	vertical-align: middle;
}

.firstRow2in2 {
	margin: 0;
    text-align: center;
}

.verticalMiddle {
	display: table;
	height: 100%;
	margin-top: 10px;
}

.innerVerticalMiddle {
	display: table-cell;
	vertical-align: middle;
}

.line2in2notFirst {
	margin-left: 25px;
}

.checkboxNotFirst {
}

input[type="checkbox"]{
  width: 16px; /*Desired width*/
  height: 16px; /*Desired height*/
  flex-grow: 0;
  flex-shrink: 0;
}

.secondUpload {
	margin-top: 20px;
}

.secondUpload {
	margin-bottom: 20px;
}

.column {
    float: right;
    width: 25%;
    text-align: center;
}

.box2 {
	display: -webkit-box;
}

.row {
	width: 100%;
}

tr.disabled input, tr.disabled select, tr.disabled textarea {
    background: #c9c8c7;
    pointer-events: none;
}

.radioLine * {
	display: inline-block;
}

.boldQuestion {
    margin-top: 20px;
}

textarea.questionText {
	width: 100%;
    height: 75px;
}

.equipment {
	width: 126px;
}

.years2 {
	width: 99px;
	height: 30px;
}

.maxSizeNote {
    /*font-size: 23px;
    font-weight: bold;
    font-family: arial;*/
    padding-top: 15px;
}

.irs-slider {
	cursor: pointer;
}

.irs * {
    font-size: 14px !important;
}

.step9, .step10 {
	text-align: center;
}

div#imgName {
    display: inline-block;
    margin-right: 10px;
    direction: ltr;
}

.box table {
	width: 100%;
}

.percent {
    display: inline-block;
    margin-left: 10px;
}

.warning {
	border: solid;
    border-color: red;
}

.notesWidth {
	width: 92% !important;
}

.firsttd{
	text-align: right;
}

.languages {
	width: 50px !important;
}

.fifthDisabled:nth-child(7) .plusRemoveIcon {
	visibility: hidden;
}

.didPsychometry {
	display: none;
}

#experience {
	display: none;
}